

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: darkblue;
}

tr, td{
    border: 2px solid white;
    background-color: darkblue;
}

#sisesta{
    width: auto;
}

img{
    width: auto;
    height: 100px;
}

h1{
    border: 2px dotted white;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    border: 2px dotted white;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: midnightblue;
    color: white;
}
